@font-face {
  font-display: swap; 
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/mulish-v12-cyrillic_latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/mulish-v12-cyrillic_latin-600.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/mulish-v12-cyrillic_latin-900.woff2') format('woff2'); 
}

html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Mulish, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  background: #F8E8E2 url('../img/bg.svg') no-repeat top/contain;
  color: #000000;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, 
h2, 
h3, 
p, 
fieldset {
  margin: 0;
}

/* common */

.container {
  --width: 1180px;
  --padding: 30px;
  margin: 0 auto;
  padding: calc(0 var(--padding) + var(--padding) * 2);
  max-width: var(--width);
}

.btn {
  padding: 12px 28px;
  color: #fff;
  border-radius: 40px;
  background-color:  #F44;
  box-shadow: 0px 4px 20px 0px #FA5A5A;
}

.text-red {
  color: #f44;
}

/* header */

.header {
  padding: 32px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__btn {
  display: block;
}

/* hero */

.hero {
  padding: 30px 0 85px;
}

.hero__title {
  max-width: 880px;
  font-size: 84px;
  font-weight: 900;
}

.hero__cups {
  padding-top: 270px;
  display: flex;
  gap: 20px;
}

.hero__cup {
  position: relative;
  width: 380px;
  height: 382px;
  border-radius: 24px;
}

.hero__cup_pink {
  background-color: #FF196c;
}

.hero__cup_orange {
  margin-top: -70px;
  background-color: #FFB72A;
}

.hero__cup_green {
  background-color: #34B905;
}

.hero__img {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

/* goods section */

.goods {
  padding: 60px 0 70px;
}

.goods__title {
  margin-bottom: 40px;
  font-size: 44px;
  font-weight: 900;
}

.goods__list {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 20px;
}


/* cocktail */

.cocktail {
  display: flex;
  flex-direction: column;
  padding: 12px;
  height: 100%;                              /*растянуть конент в карточке при увеличении*/
  background-color: #fff;
  border-radius: 32px;
}

.cocktail__img {
  width: 100%;
  border-radius: 24px;
}

.cocltail__content {
  padding: 12px;
  flex-grow: 1;                              /*растянуть конент в карточке при увеличении*/
  display: flex;
  flex-direction: column;
}

.cocktail__text {
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cocktail__title {
  font-size: 18px;
  margin-right: 5px;
  font-weight: 400;
}

.cocktail__price {
  font-weight: 600;
}

.cocktail__size {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 12px;
  color: #C1C1C1;
  align-self: flex-end;
}

.cocktail__btn {
  margin-top: auto;          /* */
}









/* footer */

.footer {
  padding: 30px 0 32px;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'logo .' 'copyright developer';
  gap: 40px;
}

.footer__logo {
  grid-area: logo;
}

.footer__copyright {
  grid-area: copyright;
}

.footer__developer {
  grid-area: developer;
  justify-self: end;
}

.footer__developer-item {
  margin-bottom: 10px;
}

.footer__developer-item:last-child {
  margin-bottom: 0;
}

.footer__developer-link {

}


